In [90]:
import pandas as pd
import matplotlib.pyplot as plt
import re

# Data Cleaning and Wrangling

In [114]:
# Load the data
data = pd.read_csv('data/swertres.csv')

In [115]:
data = data.loc[~data['date'].astype(str).str.match('([A-Z])\w+')]
data = data.loc[data['date'].astype(str).str.match('[0-9]{2}[-|\/]{1}[0-9]{2}[-|\/]{1}[0-9]{4}')]

In [116]:
data.tail()

            date fivepm ninepm  twopm
3395  12/27/2015  1-8-9  6-2-2  6-8-7
3396  12/28/2015  8-6-2  4-2-8  5-6-6
3397  12/29/2015  2-0-1  3-2-2  3-0-9
3398  12/30/2015  0-8-5  1-7-8  9-2-5
3399  12/31/2015  4-6-1  4-9-5  8-5-7

In [117]:
data.date = pd.to_datetime(data.date)
data.set_index('date', inplace=True)

In [119]:
def find_number(text):
    num = re.findall(r'[0-9]+',text)
    return "".join(num)

cols = ['fivepm', 'ninepm', 'twopm']
for col in cols:
    data[col] = data[col].apply(lambda x: find_number(x))
    data[col] = data[col].apply(pd.to_numeric)
data.dtypes

fivepm    float64
ninepm    float64
twopm     float64
dtype: object

In [120]:
data.head(100)

            fivepm  ninepm  twopm
date
2020-10-10   697.0   961.0  865.0
2020-10-11   731.0   851.0  864.0
2020-10-12   793.0   128.0  590.0
2020-10-13   517.0   726.0  918.0
2020-10-14   480.0   722.0  800.0
...            ...     ...    ...
2014-11-12   301.0   151.0  823.0
2014-11-13   908.0   755.0  805.0
2020-12-28   247.0   792.0  639.0
2020-12-29   493.0   131.0  328.0
2020-12-30   218.0   700.0  332.0

[100 rows x 3 columns]

In [123]:
data.to_csv("data/swertres_cleaned.csv")

In [134]:
data.sort_index()

            fivepm  ninepm  twopm
date
2012-10-10   780.0   539.0  160.0
2012-10-11   962.0   888.0  422.0
2012-10-12   371.0   846.0  959.0
2012-10-13   492.0   653.0  140.0
2012-10-14   851.0   956.0  504.0
...            ...     ...    ...
2020-12-27   750.0   761.0  915.0
2020-12-28   247.0   792.0  639.0
2020-12-29   493.0   131.0  328.0
2020-12-30   218.0   700.0  332.0
2020-12-31   438.0   463.0   36.0

[580 rows x 3 columns]

# Data Visualization

In [140]:
temp = []
for i in data:
    temp.append(data[i])
outcomes = pd.concat(temp, ignore_index=True)

In [154]:
outcomes.value_counts()

211.0    8
918.0    7
923.0    7
527.0    6
299.0    6
        ..
943.0    1
835.0    1
823.0    1
530.0    1
558.0    1
Length: 825, dtype: int64